# Trip Data Analysis
Dieses Notebook l√§dt die Trip-Daten aus der PostgreSQL Datenbank in ein Pandas DataFrame.

In [ ]:
import pandas as pd
from src.db import open_connection

conn = open_connection()

In [ ]:
trips_df = pd.read_sql_query('SELECT * FROM public.trips;', conn)
trips_df.head()

In [ ]:
conn.close()